<template>
  <div class="content">
    <h1>
      <a href="https://www.sanity.io/">
        Mozes Power your VueJS apps with a CMS</a
      >
    </h1>
    <h2>My Blog with Sanity</h2>
    <p>A nutritionist and Web-dev</p>
  </div>
</template>

<style scoped>
.about {
  text-align: center;
}
</style>
