<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div  class="navbar-menu">
          <div class="navbar-start">
          </div>
        </div>
    </nav>
</template>

<script>
export default {
  name: "TheNav",
};
</script>

<style>
</style>